.material-icons {
  vertical-align: middle;
  display: inline-block;

  &.tiny { font-size: 1rem; vertical-align: middle;}
  &.small { font-size: 2rem; vertical-align: middle;}
  &.medium { font-size: 4rem; vertical-align: middle;}
  &.large { font-size: 6rem; vertical-align: middle;}
}