.user-page {
  padding: 10px;
  width: 90vw;
  margin: 0 auto;
  position: relative;

  .title {
    color: white;
  }

  .main-area {
    background-color: #f8f8f8;
    display: flex;

    &>div:first-child{
      width: 25%;
    }

    .form-area {
      width: 100%;

      .list-area {
        padding: 10px;

        form {
          display: flex;
        }

        table {
          tbody{
            tr{
              transition: all 0.3s ease-in-out;

              &:hover {
                background-color: #ffa62a34;
                cursor: pointer;
              }
            }
          }
        }
      }

      .edit-area {
        form {
          display: flex;
          flex-wrap: wrap;
  
          .form-col {
            padding: 10px;
  
            &.controls {
              display: flex;
              flex-direction: row;
              padding: 10px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .list-area {
    form {
      display: flex;
      flex-direction: column;
    }
  }
}
