.estate {
  padding: 10px;
  width: 90vw;
  margin: 0 auto;

  .title {
    color: white;
    padding: 0.5em;
  }

  .main-area {
    background-color: #f8f8f8;
    display: flex;

    &>div:first-child{
      width: 25%;
    }

    .form-area {
      width: 100%;

      .edit-area {
        form {
          display: flex;
          flex-wrap: wrap;
  
          .form-col {
            padding: 10px;
  
            &.controls {
              display: flex;
              flex-direction: row;
              padding: 10px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}