.custom-button {
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: white;
  transition: background-color 0.2s;

  i {
    margin-right: 5px;
  }

  &.small {
    font-size: 14px;
  }

  &:disabled {
    background-color: lightgray !important;
    color: black !important;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &.success {
    border: 2px solid #3cba54;
    background-color: #3cba54;
    color: white;

    &:active {
      background-color: white;
      color: #3cba54;
    }
  }

   &.danger {
    border: 2px solid #DD5246;
    background-color: #DD5246;
    color: white;

    &:active {
      background-color: white;
      color: #3cba54;
    }
  }

  &.primary {
    border: 2px solid #FFA52A;
    background-color: #FFA52A;
    color: white;

    &:active {
      background-color: white;
      color: #FFA52A;
    }
  }

  &.secondary {
    border: 2px solid gray;
    background-color: gray;
    color: white;

    &:active {
      background-color: white;
      color: gray;
    }
  }
}