.header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;

  h1 {
    display: flex;
    padding: 0px 0px 0px 10px;

    img {
      width: 200px;
      height: auto;
    }
  }

  div {
    display: flex;
    align-items: center;

    div {
      align-items: center;
      height: auto;
      height: 50px;
      padding: 0px 10px;

      &:first-child {
        border-right: 1px solid white;
      }
    }
  }
}