.modal-header {
  font-weight: bold;
  font-size: 16pt;
}

.modal-body {
  text-align: center;

  .error-icon {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .success-icon {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
